@import "~vue-material/dist/theme/engine";
@include md-register-theme("default", (primary: md-get-palette-color(blue, 900), accent: md-get-palette-color(bluegrey, 700)));
@import "~vue-material/dist/theme/all"; // Apply the theme

.md-app {
    min-height: 100vh;

    .md-card {
        border-top: 5px solid md-get-palette-color(blue, 900);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 320px;
        margin: 4px;
        min-height: 150px;
        display: inline-block;
        vertical-align: top;
    }

    .md-drawer {
        width: 250px;
    }

    .md-toolbar.md-theme-default.md-primary .md-title {
        &:hover {
            color: #e0e0e0;
            text-decoration: none;
        }
    }

    .logo {
        width: 26px;
        height: 26px;
    }
}
