@import "~vue-material/dist/theme/engine";
@include md-register-theme("default", (primary: md-get-palette-color(blue, 900), accent: md-get-palette-color(bluegrey, 700)));
@import "~vue-material/dist/theme/all"; // Apply the theme

.md-app {
    min-height: 100vh;

    .md-drawer {
        width: 250px;
    }

    .md-toolbar.md-theme-default.md-primary .md-title {
        &:hover {
            color: #e0e0e0;
            text-decoration: none;
        }
    }

    .logo {
        width: 26px;
        heightL: 26px;
    }
}
