@import "~vue-material/dist/theme/engine";

.md-card {
    border-top: 5px solid md-get-palette-color(blue, 900);
    width: 320px;
    margin: 4px;
    min-height: 150px;
    display: inline-block;
    vertical-align: top;
}

.md-subhead {
    min-height: 40px;
}