@import '../abstracts/functions';
@import '../abstracts/mixins';
@import '../abstracts/variables';

.form {
    $form: &;

    &__group {
        position: relative;
    }

    &__label {
        display: block;
        font-weight: 700;
        left: 0;
        line-height: rem-calc(24);
        padding: 6px 20px;
        position: absolute;
        top: 0;
        transition: $transition;
        width: 100%;

        &::before {
            border-bottom: $form-control-border-width solid $form-control-border-color-highlight;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transition: $transition;
            width: 0;
        }
    }

    &__control {
        background: transparent;
        border: none;
        border-bottom: $form-control-border-width solid $form-control-border-color;
        color: $form-control-font-color;
        line-height: $form-control-line-height;
        padding: $form-control-padding;
        width: 100%;

        &--isTouched, &:focus {
            outline: none;

            ~ #{$form}__label {
                font-size: rem-calc(14);
                top: -24px;

                &::before {
                    top: 24px;
                    width: 100%;
                }
            }
        }
    }
}