@import '../scss/abstracts/functions';
@import '../scss/abstracts/mixins';
@import '../scss/abstracts/variables';

.navigation {
    line-height: 32px;
    margin: 0;
    padding: 28px 0;
    position: relative;
    width: 100%;

    @include clear-float();

    @include respond-to(large) {
        padding: 60px 0 30px;
    }

    &__title {
        display: inline-block;
        float: left;
        font-family: $global-font-family-header;
        font-size: rem-calc(24);
        font-weight: 700;
        margin: 0 30px 0 0;
        padding: 0 30px 0 0;
    }

    &__list {
        display: none;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;

        &--right {
            float: right;
        }

        @include respond-to(medium) {
            display: inline-block;
        }
    }

    &__item {
        display: inline-block;
        margin: 0 10px;
        padding: 0 5px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-size: rem-calc(14);
        font-weight: 700;
        text-transform: uppercase;

        &--isActive {
            color: $color-primary;
        }

        &:hover {
            color: $color-anchor-hover;
        }

        &:active, 
        &:focus {
            color: $color-anchor-focus;
        }
    }
}
